body {
  background-color: black;
}
.page-wrap {
  top: 0px;
  right: 0px;
  position: absolute;
  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  overflow: hidden;
  animation: popin 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.page-wrap::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 5;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.28;
  }
  5% {
    opacity: 0.35;
  }
  10% {
    opacity: 0.24;
  }
  15% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.19;
  }
  25% {
    opacity: 0.84;
  }
  30% {
    opacity: 0.65;
  }
  35% {
    opacity: 0.68;
  }
  40% {
    opacity: 0.26;
  }
  45% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.96;
  }
  55% {
    opacity: 0.086;
  }
  60% {
    opacity: 0.2;
  }
  65% {
    opacity: 0.72;
  }
  70% {
    opacity: 0.53;
  }
  75% {
    opacity: 0.37;
  }
  80% {
    opacity: 0.71;
  }
  85% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.7;
  }
  95% {
    opacity: 0.36;
  }
  100% {
    opacity: 0.24;
  }
}
.page-wrap::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 5;
  pointer-events: none;
  animation: flicker 0.2s infinite;
}

@keyframes popin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Display-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 93%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 1;
  /*grid-template-columns: 9% 9% 9%;
  grid-template-rows: 17% 17% 17% 17%;
  grid-gap: 50px 30px;*/
}
.Display-container .iconrow {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: left;
}
.Display-container .iconrow a {
  text-decoration: none;
}
.iconContainer {
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  width: 150px;
  margin-inline: 2%;
  margin-block: 2%;
  padding-top: 10px;
  position: relative;
  cursor: pointer;
}
.iconContainer .iconImage {
  width: 50%;
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.iconContainer .iconName {
  text-align: center;
  font-family: "VCR OSD Mono";
  animation: textShadow 15s infinite;
  color: rgb(228, 0, 228);
}

.iconContainer:hover {
  background-color: rgba(128, 0, 128, 0.2);
}

.iconContainer:active {
  background-color: rgba(128, 0, 128, 0.4);
}
.windowContainer {
  border: solid 3px rgb(191, 35, 35);
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 750px;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 500px;
  overflow: auto;
  border-top: 5px solid rgb(191, 35, 35);
  margin-top: 1%;
  opacity: 1;
  background-color: rgb(191, 35, 35);
  left: 0;
  z-index: 4;
  /*.windowNavBar {
      position: sticky;
      display: block;
      top: 0px;
      overflow: hidden;
      width: 100%;
      height: auto;
      background-color: rgb(137, 47, 137);
      opacity: 1;
  }*/
  font-family: "VCR OSD Mono";
  color: white;
}
.windowContainer .windowContent {
  position: relative;
  right: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  opacity: 1;
  margin-top: 5px;
}
.windowContainer .lofi {
  background-color: transparent;
}
.windowContainer .smt {
  background-color: transparent;
}
.windowContainer .mario {
  background-color: transparent;
}
.windowContainer button {
  width: 10%;
  height: 5%;
  min-width: 60px;
  min-height: 20px;
  position: absolute;
  right: 0;
  font-family: "VCR OSD Mono";
  background-color: purple;
  color: white;
  animation: textShadow 15s infinite;
}

.nonvisible {
  display: none;
}

.visible {
  display: block;
}
.projects-container {
  font-size: 25px;
  color: purple;
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin-inline: 15px;
}
.projects-container p {
  font-size: 15px;
  color: black;
  text-align: justify;
}
.projects-container img {
  width: 100%;
}
.projects-container a {
  text-align: justify;
  font-size: 15px;
  color: purple;
}
.aboutme-container {
  font-size: 25px;
  color: purple;
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin-inline: 15px;
}
.aboutme-container p {
  font-size: 15px;
  color: black;
  text-align: justify;
}
.aboutme-container img {
  width: 50%;
  border-radius: 50px;
  margin-block: 10px;
}
.aboutme-container a {
  text-align: justify;
  font-size: 15px;
  color: purple;
}
.aboutme-container .contactinfo {
  text-align: center;
}
.navbar-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 7%;
  margin: auto;
  background-color: rgba(9, 9, 63, 0.881);
  opacity: 1;
}
.navbar-container .homebutton {
  position: relative;
  width: 5%;
  height: 99.5%;
  display: inline-block;
  transition: 0.2s;
}
.navbar-container .homebutton img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
}
.navbar-container .homebutton:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.navbar-container .homebutton:hover img {
  opacity: 0.8;
}
.navbar-container .iconPlace {
  position: relative;
  display: inline-block;
  width: 90%;
}
.navbar-container .hourDisplay {
  color: rgb(228, 0, 228);
  position: relative;
  display: flex;
  width: 5%;
  font-size: 1vw;
  animation: textShadow 15s infinite;
}
.navbar-container .hourDisplay p {
  text-align: center;
  vertical-align: middle;
  font-family: "VCR OSD Mono";
}
@font-face {
  font-family: "VCR OSD Mono";
  src: url(10cf96d54dcd9af0486c.ttf);
}
.introOverlay {
  top: 0px;
  right: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: introductionOS 5s ease;
  animation-fill-mode: forwards;
}
.introOverlay .startupcat {
  margin: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  opacity: 0.5;
}
.introOverlay p {
  text-align: center;
  font-family: "VCR OSD Mono";
  color: white;
  font-size: 15px;
  animation: textShadow 1.6s infinite;
}
.introOverlay .titleIntro {
  font-size: 80px;
}
.introOverlay .subtitleIntro {
  margin-top: 15%;
}
.introOverlay #under {
  font-size: 25px;
}

.introOverlay::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.28;
  }
  5% {
    opacity: 0.35;
  }
  10% {
    opacity: 0.24;
  }
  15% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.19;
  }
  25% {
    opacity: 0.84;
  }
  30% {
    opacity: 0.65;
  }
  35% {
    opacity: 0.68;
  }
  40% {
    opacity: 0.26;
  }
  45% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.96;
  }
  55% {
    opacity: 0.086;
  }
  60% {
    opacity: 0.2;
  }
  65% {
    opacity: 0.72;
  }
  70% {
    opacity: 0.53;
  }
  75% {
    opacity: 0.37;
  }
  80% {
    opacity: 0.71;
  }
  85% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.7;
  }
  95% {
    opacity: 0.36;
  }
  100% {
    opacity: 0.24;
  }
}
.introOverlay::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

@keyframes introductionOS {
  0% {
    opacity: 0%;
  }
  20% {
    visibility: visible;
    opacity: 100%;
  }
  80% {
    visibility: visible;
    opacity: 100%;
  }
  100% {
    visibility: hidden;
    pointer-events: none;
    opacity: 0%;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.44px 0 1px rgba(0, 30, 255, 0.5), -0.438px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.79px 0 1px rgba(0, 30, 255, 0.5), -2.792px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.03px 0 1px rgba(0, 30, 255, 0.5), -0.0295px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.4px 0 1px rgba(0, 30, 255, 0.5), -0.4021px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.48px 0 1px rgba(0, 30, 255, 0.5), -3.477px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.61px 0 1px rgba(0, 30, 255, 0.5), -1.612px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7px 0 1px rgba(0, 30, 255, 0.5), -0.701px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.9px 0 1px rgba(0, 30, 255, 0.5), -3.89px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.87px 0 1px rgba(0, 30, 255, 0.5), -3.87px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.23px 0 1px rgba(0, 30, 255, 0.5), -2.231px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.084px 0 1px rgba(0, 30, 255, 0.5), -0.08084px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.37px 0 1px rgba(0, 30, 255, 0.5), -2.3758px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.2px 0 1px rgba(0, 30, 255, 0.5), -2.202px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.863px 0 1px rgba(0, 30, 255, 0.5), -2.8638px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.4887px 0 1px rgba(0, 30, 255, 0.5), -0.48874px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.894px 0 1px rgba(0, 30, 255, 0.5), -1.8948px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.083px 0 1px rgba(0, 30, 255, 0.5), -0.0833px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.097px 0 1px rgba(0, 30, 255, 0.5), -0.0976px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.44px 0 1px rgba(0, 30, 255, 0.5), -3.44px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.184px 0 1px rgba(0, 30, 255, 0.5), -2.184px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.62px 0 1px rgba(0, 30, 255, 0.5), -2.62px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
