.page-wrap {
    top: 0px;
    right: 0px;
    position:absolute;
    /* Full height */
    height:  100%;
    width: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0; //0 for animation
    overflow: hidden;

    animation: popin 1s linear;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.page-wrap::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 5;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

@keyframes flicker {
    0% {
    opacity: 0.28;
    }
    5% {
    opacity: 0.35;
    }
    10% {
    opacity: 0.24;
    }
    15% {
    opacity: 0.9;
    }
    20% {
    opacity: 0.19;
    }
    25% {
    opacity: 0.84;
    }
    30% {
    opacity: 0.65;
    }
    35% {
    opacity: 0.68;
    }
    40% {
    opacity: 0.26;
    }
    45% {
    opacity: 0.85;
    }
    50% {
    opacity: 0.96;
    }
    55% {
    opacity: 0.086;
    }
    60% {
    opacity: 0.20;
    }
    65% {
    opacity: 0.72;
    }
    70% {
    opacity: 0.53;
    }
    75% {
    opacity: 0.37;
    }
    80% {
    opacity: 0.71;
    }
    85% {
    opacity: 0.70;
    }
    90% {
    opacity: 0.70;
    }
    95% {
    opacity: 0.36;
    }
    100% {
    opacity: 0.24;
    }
}

.page-wrap::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    animation: flicker 0.2s infinite;
}

@keyframes popin {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
    
}
