.windowContainer {
    border: solid 3px rgb(191, 35, 35);
    position: absolute;
    width: fit-content;
    max-width: 750px;
    height: fit-content;
    max-height: 500px;
    overflow: auto;
    border-top: 5px solid rgb(191, 35, 35);
    margin-top: 1%;
    opacity: 1;
    background-color: rgb(191, 35, 35);
    left: 0;
    //animation: textShadow 15s infinite;
    z-index: 4;
    /*.windowNavBar {
        position: sticky;
        display: block;
        top: 0px;
        overflow: hidden;
        width: 100%;
        height: auto;
        background-color: rgb(137, 47, 137);
        opacity: 1;
    }*/
    .windowContent {
        position: relative;
        right: 0;
        top: 100%;
        width: 100%;
        height: 100%;
        background-color: white;
        color: black;
        opacity: 1;
        margin-top: 5px;

    }

    .lofi {
        background-color: transparent;
    }

    .smt {
        background-color: transparent;
    }

    .mario {
        background-color: transparent;
    }

    font-family: "VCR OSD Mono";
    color: white;

    button {
        width: 10%;
        height: 5%;
        min-width: 60px;
        min-height: 20px;
        position: absolute;
        right: 0;
        font-family: "VCR OSD Mono";
        background-color: purple;
        color: white;
        animation: textShadow 15s infinite;
    }
}

.nonvisible {
    display: none;
}

.visible {
    display: block;
}
